body{
  background-color: rgb(5, 117, 245);;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
 
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:greenyellow;
}

.active {
  background-color:black;
}
*{
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.main-wrap{
  position: relative;
  width: 100%;
}
.form-wrap{
  margin:auto;
  margin-top:5%;
  border-radius: 11px;
  padding:80px 25px;
  background-color: white;
  width:350px;
  height:auto;
  
}
.form-wrap h1{
  color:rgb(5, 117, 245);
}
.form-wrap h6{
  color:rgb(5, 117, 245);
  font-size:14px;
  margin-bottom:20px;
}
.form-wrap span{
  color:rgb(5, 117, 245);
}
.form input{
  margin:8px 0px;
  height:30px;
  width:100%;
  border:none;
  border-radius: 20px;
  padding-left:14px;
  color:rgb(238, 237, 237);
  background-color: rgb(7, 6, 10);
}
.form input:focus{
  border:none;
  outline:none
}
.form input::placeholder{
  padding-left: 4px;
}
.form .form-btn{
  width:100px;
  border-radius:20px;
  padding:5px;
  cursor:pointer;
  font-weight:550;
  margin-top:16px;
  border:0.1rem solid rgb(5, 117, 245);
  color:rgb(5, 117, 245);
  background-color: transparent;
}
.form-btn:hover{
  background-color: rgb(17, 16, 29);
}
.sign-up-with{
  padding:40px 10px;
  width:100%;
  display:inline-block;
  text-align:center;
  color:rgb(206, 202, 202) !important;
}
.social-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-logo a{
  background-color: #fff;
  width:30px;
  height:30px;
  margin:2px 25px;
  padding:5px;
  border-radius:20px;
}
.social-logo a img{
  height:20px;
  width:20px;
}